@charset "utf-8";
/*Css Documento */
/*Creamos un estilo individual al título de la página*/
#titulo{
  /* Oculta el texto del well cuando la pantalla tiene menos de 600 píxeles de ancho */

  width: 123% 123% 123% 123%;/*Establecemos el ancho de caja*/
  
}
/*Css Documento */
/*Creamos un estilo individual al título de la página*/
#principal{
    width: 123% 123% 123% 123%;/*Establecemos el ancho de caja*/
    /*background-color: #00F;/*Agregamos color a la cajas*/
    text-align: center;/*Centramos el título*/
    margin: 1% auto;/*Arriba y habajo un margen de 15px y hacia los lados automático*/
    padding: 1%;/*Margen para los cuatro lados px*/
    border: 30% #0F0;/*Borde para los cuatro lados de px*/
    border-radius:10% 8% 13% 10% ;/*Redondeamos los cuatro bordes de la caja en px*/
    box-shadow: rgb(30%, 7%, 231%) 5px 5px 5px 5px;/*Agregamos sombra 5px horizontal, 5px vertical 5px difuminación sombra*/
    background:-o-radial-gradient(left,#00F 40%,#3FF 60%);/*Degradado en opera del título*/  
    background:-moz-linear-gradient(left,#00F 80%,#3FF 60%);/*Degradado en Mozila del título*/ 
    background:-webkit-linear-gradient(leftx #51b8e0,#3FF);/*Degradado en Crom del título*/ 
    background:-ms-linear-gradient(left,#00F 60%,#3FF 40%);/*Degradado en Explores del título*/ 
}
/*===============================================================================================*/
/*===============================================================================================*/
/**Creamos el zoom a una imagen*/
#Imagenes img:hover {
    /* Aumentamos la anchura y altura durante 2 segundos */
    transition: width 2s, height 2s, transform 2s;
    -moz-transition: width 2s, height 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s, -o-transform 2s;
}
/*===============================================================================================*/
/*===============================================================================================*/
/**Creamos el zo0m a una imagen*/
#Imagenes img:hover {
    /* tranformamos el elemento al pasar el mouse por encima al doble de
           su tamaño con scale(2). */
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    /* Firefox */
    -webkit-transform: scale(1.3);
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #d4d9db;

    /* Chrome - Safari */
    -o-transform: scale(1.2);
    /* Opera */
}

#Imagenes_300G img:hover{
border-radius:50%;/*Transfromamos los bordes de la imagen al pasar el mouse*/
-webkit-border-radius:50%;
box-shadow: 0px 0px 15px 15px #ec731e;
-webkit-box-shadow: 0px 0px 15px 15px #ec731e;
transform: rotate(360deg);/**/
-webkit-transform: rotate(360deg);
}
/*===============================================================================================*/
/*===============================================================================================*/
#btn {
    background-color:  dodgerblue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
/*===============================================================================================*/
/*===============================================================================================*/
  /* Darker background on mouse-over */
  #btn:hover {
    background-color: rgb(39, 0, 179);
  }
  /*===============================================================================================*/
/*===============================================================================================*/
#btnCerrar {
    background-color:  #f12e2e;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
/*===============================================================================================*/
/*===============================================================================================*/
  /* Darker background on mouse-over */
  #btnCerrar:hover {
    background-color: #c40808;
  }
/*=================================================================================================*/
/*=================================================================================================*/
/*Creamos un color  de Fondo para la página web*/
body{/*Selector */
  background: url(../imagenes/liz-weddon-598014-unsplash\ \(1\).jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(241, 245, 241) ;/*NO MECLATURA css PROPIEDAD (BACGOR)Y VALOR*/
  color: rgb(247, 247, 247);/*Cambiamos el color atodas la letras de la pagina*/
}
/*=================================================================================================*/
/*=================================================================================================*/
/*Rompemos float pas posicionar debajo el footer*/
footer p{
  /*background: url(../imagenes/bugattiDivoRevealNew.jpg);*/
  padding: 100px;/*Paseparar de la imagenes*/
  font-size: 20px;/*Altura de la letra*/
  clear: both;/*Para se posicione debajo de todas imagen*/
  text-align: center;/*Cetramos el texto del footer*/
}
/*=================================================================================================*/
/*=================================================================================================*/
/*Creamos un color  de Fondo para la página web*/
#bodyGaleria{/*Selector */
  background: url(../imagenes/liz-weddon-598014-unsplash\ \(1\).jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(4, 15, 5) ;/*NO MECLATURA css PROPIEDAD (BACGOR)Y VALOR*/
  color: rgb(247, 247, 247);/*Cambiamos el color atodas la letras de la pagina*/
}
#color{
color: black;
}
#colorTabla{
  color: white;
  }
.btn {
  background-color: rgb(28, 136, 127);
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(18, 204, 185);
}


.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: rgb(28, 136, 127);
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.carousel-inner img {
  width: 100%; /* Establecer el ancho al 100% */
  min-height: 200px;
}

/* Oculta el texto del carrusel cuando la pantalla tiene menos de 600 píxeles de ancho */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}
/* Oculta el texto del well cuando la pantalla tiene menos de 600 píxeles de ancho */
@media (max-width: 600px) {
  #principal-caption {
    display: none; 
  }
}